@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.otf) format("otf");
}

.modal {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
  z-index: 50;
  font-size: 16px;
  line-height: 20px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 0.6s;
}

.modal__title {
  margin: 0;

  padding-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__label {
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  transition: border-bottom 0.3s;
}

.modal__label_type_radio {
  border: none;
}

.modal__legend {
  padding: 24px 0 12px 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
  height: 20px;
  width: 20px;
}

.modal__content {
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input:checked {
  accent-color: black;
}

.modal__submit {
  border: none;
  background-color: black;
  color: white;
  width: 124px;
  height: 36px;
  font-size: 16px;
  gap: 8px;

  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: visibility 0s, background 0.3s;
  margin-top: 24px;
}

.modal__submit:hover {
  background-color: #00000099;
}

.modal__submit:disabled {
  background-color: #0000004d;
}
