.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 24px;
}

.modal__label {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000000;
}

.modal__input {
  display: block;
  border: none;
}

.modal__label_type_radio {
  border: none;
}

.modal__legend {
  padding: 24px 0 12px 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__content {
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input:checked {
  accent-color: black;
}

.modal__submit {
  border: none;
  background-color: black;
  color: white;
}

.modal__submit:hover {
  background-color: #00000099;
}

.modal__submit:disabled {
  background-color: #0000004d;
}
