@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.otf) format("otf");
}

.clothes-section {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
}

.clothes-section_AddItemBtn {
  width: 88px;
  height: 25px;
  border: none;
  margin-left: 20px;
  color: #00000099;
  cursor: pointer;
  background: none;
}

.clothes-section-header {
  display: flex;
  align-items: center;
}

.clothes-section__clothing-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: auto;
}

@media screen and (max-width: 767px) {
  .clothes-section__clothing-items {
    justify-content: flex-start;
    padding: 0 4px;
    gap: 8px;
  }
}
