@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.otf) format("opentype");
}

.modal__content.modal__add-item .modal__title {
  font-size: 16px;
}

.modal__content.modal__add-item .modal__label,
.modal__content.modal__add-item .modal__radio-legend {
  font-size: 20px;
}

.modal__radio-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
}

.modal__radio-legend {
  font-weight: bold;
  margin-bottom: 8px;
}
