@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.otf) format("otf");
}

.card {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  width: 323px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #0000004d;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 171px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 2px 12px;
  gap: 8px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
}

.card__image {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .card {
    flex-direction: row;
    flex-wrap: wrap;
    height: 164px;
    width: 164px;
  }
}
