@font-face {
  font-family: "CabinetGrotesk";
  src: url("./vendor/fonts/CabinetGrotesk-Regular.woff") format("woff");
}

.card {
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #0000004d;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 171px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 2px 12px;
  gap: 8px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
}

.card__image {
  width: 100%;
  border-radius: 10px;
}
