@font-face {
  font-family: "CabinetGrotesk";
  src: url("./vendor/fonts/CabinetGrotesk-Regular.woff") format("woff");
}

.app {
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.app__content {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 32px 40px 24px;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
