@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.otf) format("opentype");
}

.modal.modal_opened {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__item {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #ffffff;
}

.modal__image {
  height: 400px;
  width: 400px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__caption {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  margin-left: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin-bottom: 32px;
  margin-left: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__item.modal__close {
  display: flex;
  position: absolute;
  right: 24px;
}

.modal__content_type_image {
  position: relative;
}

@media screen and (max-width: 767px) {
  .modal__image {
    height: 200px;
    height: 200px;
  }
}
