@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.otf) format("opentype");
}

.modal.modal_opened {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: 106px;
  left: 471px;
  opacity: 1;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.modal__image {
  width: 100%;
  height: 320px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  display: block;
  margin: 0;
}

.modal__caption {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  margin: 20px 0 0 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  width: auto;
}

.modal__weather {
  margin: 12px 0 32px 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: black;
  text-align: left;
  width: auto;
}

.modal__item.modal__close {
  display: flex;
  position: absolute;
  right: 24px;
}

.modal__close {
  cursor: pointer;
}

.modal__delete {
  border: none;
  background-color: #ffffff;
  color: #ff4d00;
  position: absolute;
  right: 32px;
  bottom: 68px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .modal__item {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 95vw;
    max-height: 95vh;
    width: 95vw;
    height: auto;
    min-width: 320px;
    min-height: 200px;
    padding: 0;
  }
  .modal__image {
    height: 200px;
  }
}
